<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Profile Page</title>
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-heading">
		Welcome {{profileDto.firstName}}  {{profileDto.lastName}}
		<a style="margin-left:80%" href="#"  ng-click="logout()">
					Logout </a>
					</div>
	
		<div class="panel-body">
			<div class="col-md-12">
				Details: <br/>
				Phone: {{profileDto.phone}} <br/>
				E-mail: {{profileDto.email}}
			</div>
		</div>
	</div>
</body>
</html>